// Variables
$main-font: 'CopyPaste';
$navbar-height: 80px;
$nav-item-font-size: 24px;
$nav-dropdown-bg: #f7f7f7;
$nav-dropdown-hover-bg: #eee;
$card-border-top: #ccc;
$global-padding: 0;
$global-margin: 0;

// Global
@font-face {
  font-family: $main-font;
  src: url('./assets/copypaste.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: $global-margin;
  padding: $global-padding;
  font-family: $main-font;
  color: #333;
}

h2, h1 {
  padding: 5px $global-padding;
}

p {
  padding: 2px $global-padding;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none!important;
}

.content {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

// Navbar
nav {
  width: 100%;
  height: $navbar-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #fff;

  a {
    text-decoration: none;
    color: inherit;
  }

  .nav-item {
    font-size: $nav-item-font-size;
    margin: $global-margin 20px;
    padding: 15px;
    cursor: pointer;

    &.selected, &:hover {
      text-decoration: underline;
    }
  }

  // Expandable nav
  #projects-nav {
    position: relative;

    &:hover #projects-dropdown,
    &:focus #projects-dropdown,
    &:active #projects-dropdown,
    #projects-dropdown:hover,
    #projects-dropdown:focus,
    #projects-dropdown:active {
      display: flex;
    }

    #projects-dropdown {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: -50%;
      width: 200%;
      height: fit-content;
      padding: 10px;
      background: $nav-dropdown-bg;

      p {
        font-size: 20px;
        padding: 15px 10px;

        &:hover {
          background: $nav-dropdown-hover-bg;
          cursor: pointer;
        }
      }
    }
  }
}

// Main content (HOME)
.card {
  padding: 50px;
  border-top: 10px solid $card-border-top;
  width: 80vw;
  max-width: 800px;
  height: 800px;
}
